@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: #0c0c0c;
}

body {
  min-height: 100%;
  overflow-y: auto;
  background: #0c0c0c;
}
